<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="c:\temp\nlog-internal.log">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets async="true">
		<target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" 
				layout="${longdate} | ${level} | ${threadid} | ${logger} | ${callsite} | ${message}" />
		<target name="fileMicrosoft" xsi:type="File" fileName="${basedir}/Logs/${shortdate} microsoft.log" 
				layout="${longdate} | ${level} | ${threadid} | ${logger} | ${callsite} | ${message}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" writeTo="fileMicrosoft" final="true" />
		<logger name="System.Net.Http.*" writeTo="fileMicrosoft" final="true" />
		<logger name="*" writeTo="file" />
	</rules>
	
</nlog>
